input[type='text'],
input[type='password'] {
    padding: 0.3rem 0.5rem;

    border: 1px solid #ccc;
    border-radius: 0.3rem;

    background-color: #fff;
    color: #333;

    width: 100%;

    &:focus {
        outline: none;
    }
}

input[type='checkbox'] {
    border: 1px solid #ccc;
    border-radius: 0.125rem;

    background-color: #fff;
    color: #333;

    display: grid;
    place-items: center;

    width: 0.75rem;
    height: 0.75rem;

    appearance: none;

    &:focus {
        outline: none;
    }

    &:checked {
        background-color: #007bff;
        color: #fff;
    }

    &:checked:hover {
        background-color: #0069d9;
    }

    &:disabled {
        background-color: #ddd;
        color: #aaa;

        &:checked {
            background: #9fcdff;
        }

        & + label {
            color: #aaa;
        }
    }
}

.icon {
    width: 2.25rem;
    height: 2.25rem;
    display: grid;
    place-content: center;
}

.dm-planimetrie {
    display: grid;

    width: 100%;
    height: 100%;

    border: 1px solid royalblue;

    position: relative;

    canvas {
        width: 100%;
        height: 100%;
    }

    .overlay {
        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;

        pointer-events: none;
        user-select: none;

        overflow: hidden;

        & > * {
            position: absolute;
            pointer-events: visible;
        }

        .search {
            top: 1rem;
            left: 1rem;

            width: calc(100% - 30% - 2rem);
            height: 2.25rem;

            border-radius: 0.3rem;

            border: 1px solid #d8d8d8;
            box-shadow: 0 0 1rem #00000010;
            background: #fff;

            display: flex;

            input[type='text'] {
                border: none;
                height: 100%;
                font-size: 18px;
            }
        }

        .layer-switcher {
            left: 1rem;
            bottom: 1rem;

            padding: 0.5rem;
            padding-right: 2rem;

            border-radius: 0.3rem;

            border: 1px solid #d8d8d8;
            box-shadow: 0 0 1rem #00000010;
            background: #fff;

            display: flex;
            flex-direction: column;

            gap: 0.25rem;

            .title {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                font-size: 15px;
                font-weight: 600;
            }

            .layer {
                display: flex;
                flex-direction: column;

                font-size: 15px;

                .row {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    padding: 0.25rem 0;
                }

                .children {
                    padding-left: 1rem;

                    display: flex;
                    flex-direction: column;
                    align-items: start;
                }
            }
        }

        .sidebar {
            top: 0;
            right: 0;

            width: 30%;
            height: 100%;

            background: #fff;
            border-left: 1px solid #d8d8d8;
            box-shadow: 0 0 1rem #00000010;
        }
    }
}
