@use 'sass:color';

$unipi-500: #003c71;
$unipi-300: mix($unipi-500, #fff, $weight: 20%);
$unipi-400: mix($unipi-500, #fff, $weight: 10%);

:root {
    --unipi-300: #{$unipi-300};
    --unipi-400: #{$unipi-400};
    --unipi-500: #{$unipi-500};
}

*,
*::before,
*::after {
    font-family: inherit;
    margin: 0;
    box-sizing: border-box;
}

input[type='text'],
input[type='password'] {
    padding: 0.3rem 0.5rem;

    border: 1px solid #ccc;
    border-radius: 0.3rem;

    background-color: #fff;
    color: #333;

    width: 100%;

    &:focus {
        outline: none;
    }
}

input[type='checkbox'] {
    border: 2px solid var(--unipi-500);
    border-radius: 0.125rem;

    background-color: #fff;
    color: #333;

    display: grid;
    place-items: center;

    width: 0.75rem;
    height: 0.75rem;

    appearance: none;

    &:focus {
        outline: none;
    }

    &:checked {
        color: #fff;
        background: var(--unipi-500);
    }

    &:checked:hover {
        background: var(--unipi-500);
    }

    &:disabled {
        background-color: #ddd;
        color: #aaa;

        &:checked {
            // background: #9fcdff;
            background: var(--unipi-500);
        }

        & + label {
            color: #aaa;
        }
    }
}

.icon {
    width: 2.25rem;
    height: 2.25rem;
    display: grid;
    place-content: center;
}

pre,
code {
    font-family: monospace;
}

.dm-planimetrie {
    display: grid;

    width: 100%;
    height: 100%;
    position: relative;

    border: 2px solid #003c71;
    border-radius: 1px;

    canvas {
        width: 100%;
        height: 100%;
    }

    .overlay {
        position: absolute;
        inset: 0;

        width: 100%;
        height: 100%;

        pointer-events: none;
        user-select: none;

        overflow: hidden;

        & > * {
            position: absolute;
            pointer-events: visible;
        }

        .search {
            position: relative;

            top: 1rem;
            left: 1rem;

            width: calc(100% - 30% - 2rem);
            height: 2.25rem;

            .search-field {
                position: relative;

                border: 1px solid #d8d8d8;
                box-shadow: 0 0 1rem #00000010;
                background: #fff;

                border-radius: 0.3rem;

                display: flex;

                z-index: 2;

                input[type='text'] {
                    border: none;
                    font-size: 18px;
                }
            }

            .search-results {
                position: absolute;
                width: 100%;
                top: calc(100% - 1px);

                z-index: 1;

                border: 1px solid #d8d8d8;
                box-shadow: 0 0 1rem #00000010;
                background: #fff;
                border-bottom-left-radius: 0.3rem;
                border-bottom-right-radius: 0.3rem;

                display: flex;
                flex-direction: column;

                overflow: hidden;

                .result {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    gap: 0.5rem;

                    padding: 0.5rem 0.35rem;

                    cursor: pointer;

                    &:hover {
                        background: #f4f4f4;
                    }

                    .highlight {
                        // background: #e4e4e4;
                        font-weight: bold;
                    }

                    .code {
                        font-family: 'Source Code Pro', monospace;
                        font-size: 15px;
                        line-height: 1;

                        padding: 0.25rem;

                        border: 1px solid #ddd;

                        border-radius: 0.25rem;

                        user-select: all;
                    }
                    .notes {
                    }
                }
            }

            transition: all 150ms ease-in;

            &.expanded {
                width: calc(100% - 2rem);
            }
        }

        .layer-switcher {
            left: 1rem;
            bottom: 1rem;

            padding: 0.75rem;
            padding-right: 1.5rem;

            border-radius: 0.3rem;

            border: 1px solid #d8d8d8;
            box-shadow: 0 0 1rem #00000010;
            background: #fff;

            display: flex;
            flex-direction: column;

            gap: 0.25rem;

            .title {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                font-size: 16px;
                font-weight: 600;
            }

            .layer {
                display: flex;
                flex-direction: column;

                font-size: 15px;

                .row {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    padding: 0.25rem 0;
                }

                .children {
                    padding-left: 1rem;

                    display: flex;
                    flex-direction: column;
                    align-items: start;
                }
            }

            // Animation
            // height: calc(19px + 1rem);
            // transition: height 100ms ease-in;

            // overflow: hidden;

            // .layer {
            //     transition: opacity 100ms ease-in;
            //     opacity: 0;
            // }

            // &:hover {
            //     height: 272px;

            //     .layer {
            //         opacity: 1;
            //     }
            // }
        }

        .sidebar {
            top: 0;
            right: 0;

            width: 30%;
            height: 100%;

            background: #fff;
            border-left: 1px solid #d8d8d8;
            box-shadow: 0 0 1rem #00000010;

            overflow: auto;

            transition: all 150ms ease-in;

            &.hidden {
                opacity: 0;
                transform: translate(100%, 0);
            }

            &.shown {
                opacity: 1;
                transform: translate(0, 0);
            }
        }
    }
}
